@model ControlAVP.TailCommandProcessorModel

@foreach (var commandResult in Model.CommandResults)
{
    if (!commandResult.Success)
    {
        <div class="alert alert-danger">
            <strong>Error!</strong> @commandResult?.ErrorMessage
        </div>
    }
}

<table class="table table-sm bg-light">
    <thead>
        <tr>
            <th width="30px"></th>
            <th>Description</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var commandResult in Model.CommandResults)
        {
            string relativeImagePath = string.Format("../images/devices/small/{0}.png", commandResult.DeviceType);
            string absoluteImagePath = System.IO.Path.Combine(Model.WebRootPath, @"images\devices\small", commandResult.DeviceType + ".png");

            <tr class="@(commandResult.Success ? "" : "table-danger")">
                <td class="align-middle">
                @if (!System.IO.File.Exists(absoluteImagePath))
                {
                    relativeImagePath = "../images/devices/small/empty.png";
                }
                <img src="@relativeImagePath" class="img-fluid" />
                </td>
                <td class="align-middle">@commandResult.Description</td>
                <td class="align-middle">@commandResult.ExecutionTime.TotalSeconds.ToString("0.00")s</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Completed)
{
    <p class="small">Total time running command list was <strong>@(Model.CommandResults.Last().EndTime.TotalSeconds.ToString("0.00"))s</strong></p>
}

<form method="post">
    @if (Model.Completed)
    {
        <div class="text-center">
            <a href="Index" class="btn btn-success active" role="button" aria-pressed="true">Return Home</a>
        </div>
    }
</form>