@page
@model ControlAVP.Pages.Devices.AtenVS0801HModel
@using ControllableDeviceTypes.AtenVS0801HTypes;

@{
    ViewData["Title"] = "Aten VS0801H";
}
<h3>@ViewData["Title"]</h3>

@for (uint i = 0; i < Model.States.Count; ++i)
{
<div class="panel panel-default">
    <div class="panel-heading">Device #@(i + 1)</div>
    <div class="panel-body">
        <div class="col-sm-3">
            <table class="table table-sm table-borderless table-condensed">
                <tr>
                    <td>Firmware</td>
                    <td><span class="label label-primary">@Model.States[0].Firmware</span></td>
                </tr>
                <tr>
                    <td>Input Port</td>
                    <td><span class="label label-success">@Model.States[0].InputPort</span></td>
                </tr>
                <tr>
                    <td>Output</td>
                    <td><span class="label label-default">@Model.States[0].Output</span></td>
                </tr>
                <tr>
                    <td>GoTo</td>
                    <td><span class="label label-default">@Model.States[0].GoTo</span></td>
                </tr>
                <tr>
                    <td>Mode</td>
                    <td><span class="label label-default">@Model.States[0].Mode</span></td>
                </tr>
            </table>
        </div>
    </div>

    <form method="post">
        @*<div>
                <button type="submit" asp-page-handler="TurnOn" class="btn btn-success btn-md">Turn TV On</button>
            </div>*@
    </form>
</div>
}