@page
@model ControlAVP.Pages.Devices.AtenVS0801HModel
@using ControllableDeviceTypes.AtenVS0801HTypes;

@{
    ViewData["Title"] = "Aten VS0801H";
}
<h2></h2>

<form method="post">
    @for (int i = 0; i < Model.DeviceInfoCaches.Count; ++i)
    {
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6 class="mb-0">@ViewData["Title"]</h6>
                <p class="mt-0 small font-weight-bold">Device #@(i + 1)</p>
            </div>
            <div class="card-body pb-0">
                @if (Model.DeviceInfoCaches[i].Available)
                {
                    <div class="col-sm-6">
                        <table class="table table-sm table-borderless">
                            <tr>
                                <td class="align-middle text-right" width="1%">Input</td>
                                <td>
                                    <div class="btn-group">
                                        @foreach (InputPort inputPort in Enum.GetValues(typeof(InputPort)))
                                        {
                                            <button type="submit"
                                                    asp-page-handler="SetInputPort"
                                                    asp-route-deviceindex=@i
                                                    asp-route-inputport=@inputPort
                                                    class="btn border @(inputPort == Model.DeviceInfoCaches[i].State.InputPort ? "btn-success" : "btn-light")">
                                                @((int)inputPort)
                                                </button>
                                            }
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle text-right">Firmware</td>
                                <td class="align-middle"><span class="badge badge-secondary">@Model.DeviceInfoCaches[i].State.Firmware</span></td>
                            </tr>
                            <tr>
                                <td class="align-middle text-right">Output</td>
                                <td class="align-middle"><span class="badge badge-secondary">@Model.DeviceInfoCaches[i].State.Output</span></td>
                            </tr>
                            <tr>
                                <td class="align-middle text-right">GoTo</td>
                                <td class="align-middle"><span class="badge badge-secondary">@Model.DeviceInfoCaches[i].State.GoTo</span></td>
                            </tr>
                            <tr>
                                <td class="align-middle text-right">Mode</td>
                                <td class="align-middle"><span class="badge badge-secondary">@Model.DeviceInfoCaches[i].State.Mode</span></td>
                            </tr>
                        </table>
                    </div>
                }
                else
                {
                    <div class="alert alert-warning">
                        <strong>Warning!</strong> Device not found, is it turned on?
                    </div>
                }
            </div>
        </div>
    }
</form>