@page
@model ControlAVP.Pages.Devices.ExtronDSC301HDModel
@using ControllableDeviceTypes.ExtronDSC301HDTypes;

@{
    ViewData["Title"] = "Extron DSC301HD";
}
<h2></h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <p>
            <strong>@ViewData["Title"]</strong>
        </p>
    </div>
    <form method="post">
        <div class="panel-body">
            @if (Model.DeviceInfoCache.Available)
            {
                <div class="col-sm-6">
                    <table class="table table-sm table-borderless table-condensed">
                        <tr>
                            <td>Firmware</td>
                            <td><span class="label label-default">@Model.DeviceInfoCache.Firmware</span></td>
                        </tr>
                        <tr>
                            <td>Input</td>
                            <td>
                                <div class="btn-group">
                                    @foreach (InputPort inputPort in Enum.GetValues(typeof(InputPort)))
                                    {
                                        <button type="submit"
                                                asp-page-handler="SetInput"
                                                asp-route-inputport=@inputPort
                                                class="btn @(inputPort == Model.DeviceInfoCache.InputPort ? "btn-success" : "btn-default") btn-sm">
                                            @(inputPort.ToString())
                                        </button>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Scaling</td>
                            <td>
                                <div class="btn-group-vertical">
                                    <button type="submit" asp-page-handler="Scale" asp-route-scaletype=@ScaleType.PixelPerfect asp-route-positiontype=@PositionType.Centre class="btn btn-success btn-xs" style="text-align: left;">Pixel Perfect</button>
                                    <button type="submit" asp-page-handler="Scale" asp-route-scaletype=@ScaleType.Fit asp-route-positiontype=@PositionType.Centre class="btn btn-success btn-xs" style="text-align: left;">Fit</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Refresh</td>
                            <td>
                                <div class="btn-group-vertical">
                                    <button type="submit" asp-page-handler="OutputRate" asp-route-width="1920" asp-route-height="1080" asp-route-refreshRate="50" class="btn btn-success btn-xs" style="text-align: left;">1080p 50Hz</button>
                                    <button type="submit" asp-page-handler="OutputRate" asp-route-width="1920" asp-route-height="1080" asp-route-refreshRate="59.94" class="btn btn-success btn-xs" style="text-align: left;">1080p 59.94Hz</button>
                                    <button type="submit" asp-page-handler="OutputRate" asp-route-width="1920" asp-route-height="1080" asp-route-refreshRate="60" class="btn btn-success btn-xs" style="text-align: left;">1080p 60Hz</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Temperature</td>
                            <td>@Model.DeviceInfoCache.Temperature
                            </td>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <strong>Warning!</strong> Device not found, is it turned on?
                </div>
            }
        </div>
    </form>
</div>
