@page
@model ControlAVP.Pages.Devices.ExtronDSC301HDModel
@using ControllableDeviceTypes.ExtronDSC301HDTypes;

@{
    ViewData["Title"] = "Extron DSC301HD";
}
<h2></h2>

<div class="card">
    <div class="card-header">
        <h6 class="mb-0">@ViewData["Title"]</h6>
    </div>
    <form method="post">
        <div class="card-body pb-0 pl-0">
            @if (Model.DeviceInfoCache.Available)
            {
                <div class="col-sm-6">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td class="align-middle text-right">Input</td>
                            <td>
                                <div class="btn-group">
                                    @foreach (InputPort inputPort in Enum.GetValues(typeof(InputPort)))
                                    {
                                        <button type="submit"
                                                asp-page-handler="SetInput"
                                                asp-route-inputport=@inputPort
                                                class="btn border @(inputPort == Model.DeviceInfoCache.InputPort ? "btn-success" : "btn-default")">
                                            @(inputPort.ToString())
                                        </button>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right">Scaling</td>
                            <td>
                                <div class="btn-group-vertical">
                                    <button type="submit" asp-page-handler="Scale" asp-route-scaletype=@ScaleType.PixelPerfect asp-route-positiontype=@PositionType.Centre class="btn btn-success border" style="text-align: left;">Pixel Perfect</button>
                                    <button type="submit" asp-page-handler="Scale" asp-route-scaletype=@ScaleType.Fit asp-route-positiontype=@PositionType.Centre class="btn btn-success border" style="text-align: left;">Fit</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right">Refresh</td>
                            <td>
                                <div class="btn-group-vertical">
                                    <button type="submit" asp-page-handler="OutputRate" asp-route-width="1920" asp-route-height="1080" asp-route-refreshRate="50" class="btn btn-success border" style="text-align: left;">1080p 50Hz</button>
                                    <button type="submit" asp-page-handler="OutputRate" asp-route-width="1920" asp-route-height="1080" asp-route-refreshRate="59.94" class="btn btn-success border" style="text-align: left;">1080p 59.94Hz</button>
                                    <button type="submit" asp-page-handler="OutputRate" asp-route-width="1920" asp-route-height="1080" asp-route-refreshRate="60" class="btn btn-success border" style="text-align: left;">1080p 60Hz</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right">Firmware</td>
                            <td><span class="badge badge-secondary">@Model.DeviceInfoCache.Firmware</span></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right">Temperature</td>
                            <td class="align-middle">
                                <div class="progress position-relative">
                                    @{
                                        var temperatureColour = "bg-success";
                                        if (Model.DeviceInfoCache.Temperature > 35)
                                        {
                                            temperatureColour = "bg-warning";
                                        }
                                        if (Model.DeviceInfoCache.Temperature > 45)
                                        {
                                            temperatureColour = "bg-danger";
                                        }
                                    }
                                    <div class="progress-bar progress-bar-striped progress-bar-animated @temperatureColour"
                                         role="progressbar"
                                         aria-valuenow="@Model.DeviceInfoCache.Temperature"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="width: @Model.DeviceInfoCache.Temperature%">
                                    </div>
                                    <small class="justify-content-center d-flex position-absolute w-100">@Model.DeviceInfoCache.Temperature&#176;</small>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <strong>Warning!</strong> Device not found, is it turned on?
                </div>
            }
        </div>
    </form>
</div>
