@page
@model ControlAVP.Pages.Devices.ExtronMVX44VGAModel
@using ControllableDeviceTypes.ExtronMVX44VGATypes;

@{
    ViewData["Title"] = "Extron MVX44VGA";
}
<h2></h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <p>
            <strong>@ViewData["Title"]</strong>
        </p>
    </div>
    <form method="post">
        <div class="panel-body">
            @if (Model.DeviceInfoCache.Available)
            {
                <div class="col-sm-6">
                    <table class="table table-sm table-borderless table-condensed">
                        <tr>
                            <td>Firmware</td>
                            <td><span class="label label-primary">@Model.DeviceInfoCache.Firmware</span></td>
                        </tr>
                        <tr>
                            <td>Video Ties</td>
                            <td>
                                <div class="btn-group" style="display: flex">
                                    @foreach (OutputPort outputPort in Enum.GetValues(typeof(OutputPort)))
                                    {
                                        var inputTie = Model.DeviceInfoCache.TieState.Video[outputPort];
                                        <button type="submit"
                                                class="btn btn-sm @(inputTie == InputTie.NoTie ? "btn-default" : "btn-success") ">
                                            @((inputTie == InputTie.NoTie) ? "Untied" : inputTie.ToString())
                                        </button>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Audio Ties</td>
                            <td>
                                <div class="btn-group" style="display: flex">
                                    @foreach (OutputPort outputPort in Enum.GetValues(typeof(OutputPort)))
                                    {
                                        var inputTie = Model.DeviceInfoCache.TieState.Audio[outputPort];
                                        <button type="submit"
                                                class="btn btn-sm @(inputTie == InputTie.NoTie ? "btn-default" : "btn-success") ">
                                            @((inputTie == InputTie.NoTie) ? "Untied" : inputTie.ToString())
                                        </button>
                                    }
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <strong>Warning!</strong> Device not found, is it turned on?
                </div>
            }
        </div>
    </form>
</div>
