@page
@model ControlAVP.Pages.Devices.ExtronDSC301HDModel
@using ControllableDeviceTypes.ExtronDSC301HDTypes;
@using System.Numerics;

@{
    ViewData["Title"] = "Extron DSC301HD";
}

<script type="text/javascript">
    function sliderChanged(value, linkedButtonId, handlerName) {
        var formaction = "/Devices/ExtronDSC301HD?handler=" + handlerName + "&value=" + value;
        document.getElementById(linkedButtonId).setAttribute("formaction", formaction);
        document.getElementById(linkedButtonId).innerHTML = "Set " + value;
    }
</script>

<h2></h2>

<div class="card">
    <div class="card-header">
        <h6 class="mb-0">@ViewData["Title"]</h6>
    </div>
    <form method="post">
        <div class="card-body pb-0">
            @if (Model.DeviceInfoCache.Available)
            {
                <div class="col-sm-6">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td class="align-middle text-right" width="1%">Input</td>
                            <td>
                                <div class="btn-group">
                                    @foreach (InputPort inputPort in Enum.GetValues(typeof(InputPort)))
                                    {
                                        <button type="submit"
                                                asp-page-handler="SetInput"
                                                asp-route-inputport=@inputPort
                                                class="btn border @(inputPort == Model.DeviceInfoCache.InputPort ? "btn-success" : "btn-light")">
                                            @(inputPort.ToString())
                                        </button>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right">Pixel Perfect</td>
                            <td>
                                <div class="btn-group">
                                    <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.PixelPerfect asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.RatioPreserve asp-route-padding=@(new Vector2(0)) class="btn btn-light border text-center">Preserve Aspect</button>
                                    <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.PixelPerfect asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio4x3 asp-route-padding=@(new Vector2(0)) class="btn btn-light border text-center">4:3</button>
                                    <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.PixelPerfect asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio16x9 asp-route-padding=@(new Vector2(0)) class="btn btn-light border text-center">16:9</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right">Fit</td>
                            <td>
                                <div class="btn-group">
                                    <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.Fit asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.RatioPreserve asp-route-padding=@(new Vector2(0)) class="btn btn-light border text-center">Preserve Aspect</button>
                                    <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.Fit asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio4x3 asp-route-padding=@(new Vector2(0)) class="btn btn-light border text-center">4:3</button>
                                    <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.Fit asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio16x9 asp-route-padding=@(new Vector2(0)) class="btn btn-light border text-center">16:9</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right">Fit Width</td>
                            <td>
                                <div class="btn-group">
                                    <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.FitWidth asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.RatioPreserve asp-route-padding=@(new Vector2(0)) class="btn btn-light border text-center">Preserve Aspect</button>
                                    <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.FitWidth asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio4x3 asp-route-padding=@(new Vector2(0)) class="btn btn-light border text-center">4:3</button>
                                    <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.FitWidth asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio16x9 asp-route-padding=@(new Vector2(0)) class="btn btn-light border text-center">16:9</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right">Refresh</td>
                            <td>
                                <div class="btn-group-vertical">
                                    <button type="submit" asp-page-handler="SetOutputRate" asp-route-width="1920" asp-route-height="1080" asp-route-refreshRate="50" class="btn btn-light border" style="text-align: left;">1080p 50Hz</button>
                                    <button type="submit" asp-page-handler="SetOutputRate" asp-route-width="1920" asp-route-height="1080" asp-route-refreshRate="59.94" class="btn btn-light border" style="text-align: left;">1080p 59.94Hz</button>
                                    <button type="submit" asp-page-handler="SetOutputRate" asp-route-width="1920" asp-route-height="1080" asp-route-refreshRate="60" class="btn btn-light border" style="text-align: left;">1080p 60Hz</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right">Freeze</td>
                            <td>
                                <div class="btn-group">
                                    @switch (Model.DeviceInfoCache.Freeze)
                                    {
                                        case true:
                                            <button class="btn btn-success border disabled text-center" disabled>Freeze</button>
                                            <button type="submit" asp-page-handler="SetFreeze" asp-route-freeze=@false class="btn btn-light border text-center">Unfreeze</button>
                                            break;

                                        case false:
                                            <button type="submit" asp-page-handler="SetFreeze" asp-route-freeze=@true class="btn btn-light border text-center">Freeze</button>
                                            <button class="btn btn-success border disabled text-center" disabled>Unfreeze</button>
                                            break;
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right" rowspan="3">Detail Filter</td>
                            <td><span class="badge badge-secondary">@Model.DeviceInfoCache.DetailFilter</span></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <button type="submit" id="setDetailFilterButton" class="btn border btn-light" style="text-align: left;" formaction="/Devices/ExtronDSC301HD?handler=SetDetailFilter&value=@Model.DeviceInfoCache.DetailFilter">Set @Model.DeviceInfoCache.DetailFilter</button>
                                    <button type="submit" asp-page-handler="SetDetailFilter" asp-route-value="40" class="btn border btn-light" style="text-align: left;">Set 40</button>
                                    <button type="submit" asp-page-handler="SetDetailFilter" asp-route-value="64" class="btn border btn-light" style="text-align: left;">Set 64*</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="range" class="w-100" min="0" value="@Model.DeviceInfoCache.DetailFilter" max="127" id="detailFilterSlider" oninput="sliderChanged(this.value, 'setDetailFilterButton', 'SetDetailFilter')" /></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right" rowspan="3">Brightness</td>
                            <td><span class="badge badge-secondary">@Model.DeviceInfoCache.Brightness</span></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <button type="submit" id="setBrightnessButton" class="btn border btn-light" style="text-align: left;" formaction="/Devices/ExtronDSC301HD?handler=SetBrightness&value=@Model.DeviceInfoCache.Brightness">Set @Model.DeviceInfoCache.Brightness</button>
                                    <button type="submit" asp-page-handler="SetBrightness" asp-route-value="64" class="btn border btn-light" style="text-align: left;">Set 64*</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="range" class="w-100" min="0" value="@Model.DeviceInfoCache.Brightness" max="127" id="brightnessSlider" oninput="sliderChanged(this.value, 'setBrightnessButton', 'SetBrightness')" /></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right" rowspan="3">Contrast</td>
                            <td><span class="badge badge-secondary">@Model.DeviceInfoCache.Contrast</span></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <button type="submit" id="setContrastButton" class="btn border btn-light" style="text-align: left;" formaction="/Devices/ExtronDSC301HD?handler=SetContrast&value=@Model.DeviceInfoCache.Contrast">Set @Model.DeviceInfoCache.Contrast</button>
                                    <button type="submit" asp-page-handler="SetContrast" asp-route-value="64" class="btn border btn-light" style="text-align: left;">Set 64*</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="range" class="w-100" min="0" value="@Model.DeviceInfoCache.Brightness" max="127" id="brightnessSlider" oninput="sliderChanged(this.value, 'setContrastButton', 'SetContrast')" /></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right">Firmware</td>
                            <td><span class="badge badge-secondary">@Model.DeviceInfoCache.Firmware</span></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right">Temperature</td>
                            <td class="align-middle">
                                <div class="progress position-relative">
                                    @{
                                        var temperatureColour = "bg-success";
                                        if (Model.DeviceInfoCache.Temperature > 35)
                                        {
                                            temperatureColour = "bg-warning";
                                        }
                                        if (Model.DeviceInfoCache.Temperature > 45)
                                        {
                                            temperatureColour = "bg-danger";
                                        }
                                    }
                                    <div class="progress-bar progress-bar-striped progress-bar-animated @temperatureColour"
                                         role="progressbar"
                                         aria-valuenow="@Model.DeviceInfoCache.Temperature"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="width: @((int)Model.DeviceInfoCache.Temperature)%;">
                                    </div>
                                    <small class="justify-content-center d-flex position-absolute w-100" style="padding-top: 2px;">@Model.DeviceInfoCache.Temperature&#176;</small>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <strong>Warning!</strong> Device not found, is it turned on?
                </div>
            }
        </div>
    </form>
</div>
