@page
@model ControlAVP.Pages.Devices.ExtronMVX44VGAModel
@using ControllableDeviceTypes.ExtronMVX44VGATypes;
@using System.Linq;

@{
    ViewData["Title"] = "Extron MVX44VGA";
}
<h2></h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <p>
            <strong>@ViewData["Title"]</strong>
        </p>
    </div>
    <form method="post">
        <div class="panel-body">
            @if (Model.DeviceInfoCache.Available)
            {
                <div class="col-sm-6">
                    <table class="table table-sm table-borderless table-condensed">
                        <tr>
                            <td>Firmware</td>
                            <td><span class="label label-primary">@Model.DeviceInfoCache.Firmware</span></td>
                        </tr>
                        <tr>
                            <td>Matrix</td>
                            <td>
                                <table>

                                    @foreach (InputPort inputPort in Enum.GetValues(typeof(InputPort)).OfType<InputPort>().Skip(1))
                                    {
                                        <tr>
                                            <td>
                                                <span class="label label-default">Input Port @((int)inputPort)</span>
                                            </td>
                                            <td>
                                                <div class="btn-group" style="display: flex">
                                                    @foreach (OutputPort outputPort in Enum.GetValues(typeof(OutputPort)))
                                                    {
                                                        var inputPortActual = Model.DeviceInfoCache.TieState.Video[outputPort];
                                                        <button type="submit"
                                                                class="btn btn-sm @((inputPortActual == inputPort) ? "btn-success" : "btn-default")">
                                                            @inputPort.ToString()
                                                        </button>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <strong>Warning!</strong> Device not found, is it turned on?
                </div>
            }
        </div>
    </form>
</div>
