@page
@model ControlAVP.Pages.Devices.ExtronMVX44VGAModel
@using ControllableDeviceTypes.ExtronMVX44VGATypes;
@using System.Linq;

@{
    ViewData["Title"] = "Extron MVX44VGA";
}
<h2></h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <p>
            <strong>@ViewData["Title"]</strong>
        </p>
    </div>
    <form method="post">
        <div class="panel-body">
            @if (Model.DeviceInfoCache.Available)
            {
                <div class="col-sm-6">
                    <table class="table table-sm table-borderless table-condensed">
                        <tr>
                            <td>Firmware</td>
                            <td><span class="label label-primary">@Model.DeviceInfoCache.Firmware</span></td>
                        </tr>
                        <tr>
                            <td>Matrix</td>
                            <td>
                                <table>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td colspan="4" class="text-center" style="padding:5px"><span class="label label-default center">Output</span></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        @foreach (OutputPort outputPort in Enum.GetValues(typeof(OutputPort)))
                                        {
                                            <td class="text-center"><span class="label label-default">@((int)outputPort)</span></td>
                                        }
                                    </tr>
                                
                                    @foreach (InputPort inputPort in Enum.GetValues(typeof(InputPort)).OfType<InputPort>().Skip(1))
                                    {
                                    <tr>
                                        @if (inputPort == InputPort.Port1)
                                        {
                                            <td rowspan="4" class="text-center" style="padding:5px"><span class="label label-default center">Input</span></td>
                                        }
                                        <td>
                                            <button type="submit"
                                                    asp-page-handler="TieInputPortToAllOutputPorts"
                                                    asp-route-inputport=@inputPort
                                                    asp-route-tietype=@TieType.AudioVideo
                                                    class="btn btn-sm btn-primary">@((int)inputPort)</button>
                                        </td>

                                        @foreach (OutputPort outputPort in Enum.GetValues(typeof(OutputPort)))
                                        {
                                            <td style="padding:5px">
                                                @{var inputPortActual = Model.DeviceInfoCache.TieState.Video[outputPort];}
                                                <button type="submit"
                                                        asp-page-handler="TieInputPortTOutputPort"
                                                        asp-route-inputport=@inputPort
                                                        asp-route-outputport=@outputPort
                                                        asp-route-tietype=@TieType.AudioVideo
                                                        class="btn btn-lg @((inputPortActual == inputPort) ? "btn-success" : "btn-default")"></button>
                                            </td>
                                        }
                                    </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <strong>Warning!</strong> Device not found, is it turned on?
                </div>
            }
        </div>
    </form>
</div>
