@page
@model IndexModel
@using Newtonsoft.Json
@using System.IO
@using ControllableDeviceTypes.ExtronDSC301HDTypes
@using ControllableDeviceTypes.OSSCTypes
@using ControllableDeviceTypes.SonySimpleIPTypes
@using ControllableDeviceTypes.AtenVS0801HBTypes
@using System.Numerics
@{
    ViewData["Title"] = "ControlAVP";
}

@Html.AntiForgeryToken()

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" language="JavaScript">

        function updateParameterInURLAttributeOfButtons(attributeName, parameterName, value) {
            var elementArray = document.getElementsByTagName('button');
            for (i = 0; i < elementArray.length; i++) {
                var element = elementArray[i];

                //Only modify the URL of buttons that are going to submit
                if (element.getAttribute('type') == 'submit') {
                    var url = element.getAttribute(attributeName);
                    var params = new URLSearchParams(url);
                    params.set(parameterName, value);
                    var modifiedUrl = decodeURIComponent(params.toString())
                    element.setAttribute(attributeName, modifiedUrl);
                }
            }
        }

        $(document).ready(function ()
        {
            //Update URLs on page load
            updateParameterInURLAttributeOfButtons('formaction', 'scalerCardVisible', '@Model.ScalerCardVisible');
            updateParameterInURLAttributeOfButtons('formaction', 'osscCardVisible', '@Model.OsscCardVisible');
            updateParameterInURLAttributeOfButtons('formaction', 'retroTink4KCardVisible', '@Model.RetroTink4KCardVisible');

            //Update URLs when cards are either collapsed or expanded
            $('#scalerCollapse').on('show.bs.collapse', function () {
                updateParameterInURLAttributeOfButtons('formaction', 'scalerCardVisible', 'true');
            })

            $('#scalerCollapse').on('hide.bs.collapse', function () {
                updateParameterInURLAttributeOfButtons('formaction', 'scalerCardVisible', 'false');
            })

            $('#osscCollapse').on('show.bs.collapse', function () {
                updateParameterInURLAttributeOfButtons('formaction', 'osscCardVisible', 'true');
            })

            $('#osscCollapse').on('hide.bs.collapse', function () {
                updateParameterInURLAttributeOfButtons('formaction', 'osscCardVisible', 'false');
            })

            $('#retroTink4KCollapse').on('show.bs.collapse', function () {
                updateParameterInURLAttributeOfButtons('formaction', 'retroTink4KCardVisible', 'true');
            })

            $('#retroTink4KCollapse').on('hide.bs.collapse', function () {
                updateParameterInURLAttributeOfButtons('formaction', 'retroTink4KCardVisible', 'false');
            })
        });
    </script>
}

<div class="pt-0 pb-1 pl-1 pr-1 m-0">
    <form method="post">
        <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button id="btnGroupDropScalerSelect" type="button" class="btn border btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scaler</button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDropScalerSelect">
                        <button type="submit" asp-page-handler="SetScaler" asp-route-scaler=@Scaler.RetroTink4K class="dropdown-item">RetroTink 4K</button>
                    @if (Model.RackDevicesAvailable)
                    {
                        <button type="submit" asp-page-handler="SetScaler" asp-route-scaler=@Scaler.OSSC class="dropdown-item">OSSC</button>
                        <button type="submit" asp-page-handler="SetScaler" asp-route-scaler=@Scaler.ExtronDSC301HD class="dropdown-item">Extron Scaler</button>
                    }
                    </div>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" data-toggle="collapse" data-target="#retroTink4KCollapse" class="btn border btn-secondary">RetroTink4K</button>
                @if (Model.RackDevicesAvailable)
                {
                    <button type="button" data-toggle="collapse" data-target="#scalerCollapse" class="btn border btn-secondary">Extron</button>
                    <button type="button" data-toggle="collapse" data-target="#osscCollapse" class="btn border btn-secondary">OSSC</button>
                }
                </div>
            <div class="btn-group" role="group">
                <button type="submit" asp-page-handler="PowerOff" class="btn border btn-danger"><i class="fas fa-power-off"></i></button>
                <button type="submit" asp-page-handler="PowerOffExcludingTV" class="btn border btn-danger"><i class="fas fa-tv"></i></button>
            </div>
        </div>
    </form>
</div>

<form method="post">
    <div class="@(Model.RetroTink4KCardVisible ? "collapse show" : "collapse") p-1 m-0" id="retroTink4KCollapse">
        <div class="card card-body p-2">
            <table class="table table-sm table-responsive table-borderless mb-0">
                @foreach (var device in Model.DeviceProfiles.Devices)
                {
                    <tr>
                        <td class="align-middle text-right">@device.Name</td>
                        <td>
                            <div class="btn-group">
                                @foreach (var profile in device.Profiles)
                                {
                                    <button type="submit" asp-page-handler="RetroTink4KLoadProfile" asp-route-profileindex=@profile.Index class="btn border btn-light">@profile.Name</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    @if (Model.RackDevicesAvailable)
    {
        <div class="@(Model.ScalerCardVisible ? "collapse show" : "collapse") p-1 m-0" id="scalerCollapse">
            <div class="card card-body p-2">
                <table class="table table-sm table-responsive table-borderless mb-0">
                    <tr>
                        <td class="align-middle text-right">Pixel Perfect</td>
                        <td>
                            <div class="btn-group">
                                <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.PixelPerfect asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.RatioPreserve class="btn btn-light border text-center">Preserve Aspect</button>
                                <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.PixelPerfect asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio4x3 class="btn btn-light border text-center">4:3</button>
                                <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.PixelPerfect asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio16x9 class="btn btn-light border text-center">16:9</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-right">Fit</td>
                        <td>
                            <div class="btn-group">
                                <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.Fit asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.RatioPreserve class="btn btn-success border text-center">Preserve Aspect</button>
                                <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.Fit asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio4x3 class="btn btn-light border text-center">4:3</button>
                                <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.Fit asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio16x9 class="btn btn-light border text-center">16:9</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-right">Detail Filter</td>
                        <td>
                            <div class="btn-group">
                                <button type="submit" asp-page-handler="SetDetailFilter" asp-route-value="30" class="btn border btn-light">30</button>
                                <button type="submit" asp-page-handler="SetDetailFilter" asp-route-value="40" class="btn border btn-light">40</button>
                                <button type="submit" asp-page-handler="SetDetailFilter" asp-route-value="50" class="btn border btn-light">50</button>
                                <button type="submit" asp-page-handler="SetDetailFilter" asp-route-value="64" class="btn border btn-light">64*</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="@(Model.OsscCardVisible ? "collapse show" : "collapse") p-1 m-0" id="osscCollapse">
            <div class="card card-body p-2">
                <table class="table table-sm table-responsive table-borderless mb-0">
                    <tr>
                        <td class="align-middle text-right">Scanlines</td>
                        <td>
                            <div class="btn-group">
                                <button type="submit" asp-page-handler="OSSCSendCommand" asp-route-commandname=@CommandName.ScanlineMode asp-route-positiontype=@PositionType.Centre class="btn border btn-light">Toggle (On | Off | Auto)</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }

    <div class="container-fluid">
        <div class="row">
            @foreach (var commandInfo in Model.CommandInfos.OrderBy(i => i.DisplayName))
            {
                <div class="col-4 col-md-2 p-1 m-0">
                    <button type="submit" asp-page-handler="CommandProcessorExecute" asp-route-filefullname=@commandInfo.JsonPath asp-route-displayname=@commandInfo.DisplayName asp-route-imagepath=@commandInfo.ImagePath class="btn btn-light border btn-block m-0 p-2">
                        <img src="@commandInfo.ImagePath" class="w-100" />
                        <span class="badge badge-secondary">@commandInfo.DisplayName</span>
                    </button>
                </div>
            }
        </div>
    </div>
</form>
