@page
@model IndexModel
@using ControllableDeviceTypes.ExtronDSC301HDTypes;
@using ControllableDeviceTypes.OSSCTypes;
@using System.Numerics;
@{
    ViewData["Title"] = "ControlAVP";
}

@Html.AntiForgeryToken()

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" language="JavaScript">

        function updateParameterInURLAttributeOfButtons(attributeName, parameterName, value) {
            var elementArray = document.getElementsByTagName('button');
            for (i = 0; i < elementArray.length; i++) {
                var element = elementArray[i];

                //Only modify the URL of buttons that are going to submit
                if (element.getAttribute('type') == 'submit') {
                    var url = element.getAttribute(attributeName);
                    var params = new URLSearchParams(url);
                    params.set(parameterName, value);
                    var modifiedUrl = decodeURIComponent(params.toString())
                    element.setAttribute(attributeName, modifiedUrl);
                }
            }
        }

        $(document).ready(function ()
        {
            //Update URLs on page load
            updateParameterInURLAttributeOfButtons('formaction', 'scalerCardVisible', '@Model.ScalerCardVisible');
            updateParameterInURLAttributeOfButtons('formaction', 'osscCardVisible', '@Model.OsscCardVisible');

            //Update URLs when cards are either collapsed or expanded
            $('#scalerCollapse').on('show.bs.collapse', function () {
                updateParameterInURLAttributeOfButtons('formaction', 'scalerCardVisible', 'true');
            })

            $('#scalerCollapse').on('hide.bs.collapse', function () {
                updateParameterInURLAttributeOfButtons('formaction', 'scalerCardVisible', 'false');
            })

            $('#osscCollapse').on('show.bs.collapse', function () {
                updateParameterInURLAttributeOfButtons('formaction', 'osscCardVisible', 'true');
            })

            $('#osscCollapse').on('hide.bs.collapse', function () {
                updateParameterInURLAttributeOfButtons('formaction', 'osscCardVisible', 'false');
            })
        });
    </script>
}

<div class="p-1 m-0">
    <div class="btn-group">
        @if (Model.ExtronDSC301HDAvailable)
        {
            <button data-toggle="collapse" data-target="#scalerCollapse" class="btn border btn-secondary">Scaler</button>
        }
        <button data-toggle="collapse" data-target="#osscCollapse" class="btn border btn-secondary">OSSC</button>
    </div>
</div>


<form method="post">
    @if (Model.ExtronDSC301HDAvailable)
    {
        <div class="@(Model.ScalerCardVisible ? "collapse show" : "collapse") p-1 m-0" id="scalerCollapse">
            <div class="card card-body p-2">
                <table class="table table-sm table-responsive table-borderless mb-0">
                    <tr>
                        <td class="align-middle text-right">Pixel Perfect</td>
                        <td>
                            <div class="btn-group">
                                <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.PixelPerfect asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.RatioPreserve class="btn btn-light border text-center">Preserve Aspect</button>
                                <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.PixelPerfect asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio4x3 class="btn btn-light border text-center">4:3</button>
                                <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.PixelPerfect asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio16x9 class="btn btn-light border text-center">16:9</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-right">Fit</td>
                        <td>
                            <div class="btn-group">
                                <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.Fit asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.RatioPreserve class="btn btn-success border text-center">Preserve Aspect</button>
                                <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.Fit asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio4x3 class="btn btn-light border text-center">4:3</button>
                                <button type="submit" asp-page-handler="SetScale" asp-route-scaletype=@ScaleType.Fit asp-route-positiontype=@PositionType.Centre asp-route-aspectratio=@AspectRatio.Ratio16x9 class="btn btn-light border text-center">16:9</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-right">Detail Filter</td>
                        <td>
                            <div class="btn-group">
                                <button type="submit" asp-page-handler="SetDetailFilter" asp-route-value="30" class="btn border btn-light">30</button>
                                <button type="submit" asp-page-handler="SetDetailFilter" asp-route-value="30" class="btn border btn-light">40</button>
                                <button type="submit" asp-page-handler="SetDetailFilter" asp-route-value="64" class="btn border btn-light">64*</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }

    <div class="@(Model.OsscCardVisible ? "collapse show" : "collapse") p-1 m-0" id="osscCollapse">
        <div class="card card-body p-2">
            <table class="table table-sm table-responsive table-borderless mb-0">
                <tr>
                    <td class="align-middle text-right">Scanlines</td>
                    <td>
                        <div class="btn-group">
                            <button type="submit" asp-page-handler="OSSCSendCommand" asp-route-commandname=@CommandName.ScanlineMode asp-route-positiontype=@PositionType.Centre class="btn border btn-secondary">Toggle (On | Off | Auto)</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            @foreach (var commandInfo in Model.CommandInfos)
            {
                <div class="col-4 col-md-2 p-1 m-0">
                    <button type="submit" asp-page-handler="CommandProcessorExecute" asp-route-fileFullName=@commandInfo.JsonPath class="btn btn-light border btn-block m-0 p-2">
                        <img src="@commandInfo.ImagePath" class="w-100" />
                        <span class="badge badge-secondary">@commandInfo.DisplayName</span>
                    </button>
                </div>
            }
        </div>
    </div>
</form>
